.add-photo,
.show-resa,
.connectadmin {
  color: black;
  display: flex;
  justify-content: center;
  padding: 15px;
  text-align: center;
}
.form-label {
  padding-right: 20px;
  font-size: x-large;
}
.adminform {
  color: black;
  text-align: center;
}
.remove-fish {
  margin: auto;
  color: black;
  display: flex;
  justify-content: center;
  padding: 15px;
  text-align: center;
}
.mb-3 {
  color: black;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 400px;
}
.form-admin-resa {
  border-radius: 10px;
  border: 1px solid black;
  background-color: darkgrey;
  padding: 10px 0px 10px 0px;
}
.form-frame {
  border: 1px solid black;
  background-color: #d4d4d4;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn {
  padding: 3px;
  font-size: medium;
}
.form-select {
  padding: 7px;
  font-size: medium;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title-show-resa {
  font-size: xx-large;
}
.show-resa-title-fish-second {
  text-align: center;
}
.form-del-resa {
  text-align: center;
}

