.table-photomenu td {
  border-radius: 15px;
}
.NOM_PHOTO {
  font-size: x-large;
  text-align: left;
}
.desc_fish {
  font-size: large;
  text-align: justify;
  padding: 15px;
}
.menum a {
  text-decoration: none;
}
.table-photomenu {
  border: 1px solid #333;
  border-radius: 15px;
  font-size: small;
  display: inline-flex;
  border-radius: 10px;
  color: white;
  margin-bottom: 2em;
  width: 19%;
  background-color: rgb(92, 87, 232);
}
.table-photomenu img {
  height: 170px;
}
.tr_img {
  height: 170px;
}
#bass-boat {
  display: block;
  margin: 4%;
}
@media (min-width: 1000px) {
  .menum {
    font-size: larger;
  }
}
@media (min-width: 500px) and (max-width: 1580px) {
  .menum {
    font-size: small;
  }
  table {
    margin-bottom: 1em;
    width: 49%;
  }
}
@media (max-width: 500px) {
  .menum {
    font-size: x-small;
  }
  .menum li:hover {
    transition: 0.3s ease;
    letter-spacing: 1px;
  }
  table {
    margin-bottom: 1em;
    width: 99%;
  }
}
.menum a {
  color: white;
}

.link {
  text-decoration: none;
  color: white;
  list-style: none;
}
.menum {
  text-decoration: none;
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: rgb(92, 87, 232);
}
.menum li {
  padding: 15px 24px;
}
