
.footer {
    position: fixed;
    height: 45px;
    bottom: 0;
    padding: 1rem;
    background-color: rgb(118, 140, 204);
    color :white;
    display: flex;
    align-items: center;
    align-content: flex-end;
   flex-wrap: wrap;
  }
  .iconres{
    text-align: right;
  }
.footer a{
     text-decoration: none;
     color: #fff;
}
.mobfoot {
  font-size: 19px;
}
.health{
    text-align: center;
} 
.iconr {
    max-width: 7%;
    margin-left: 10px;
    margin-right: 10px;
}
.pres {
    width:33.33%;
    display: inline-block;
    margin-right: -0.25em;

    }
  @media only screen and (max-width: 1272px){
      .iconr{
          max-width: 8%;
      }
      .mobfoot {
        font-size: 16px;
      }
    } 
  @media only screen and (max-width: 934px){
    .iconr{
        max-width: 8%;
        vertical-align: middle;
    }
    .mobfoot {
      font-size: 13px;
    }
  } 

  @media only screen and (max-width: 758px){
    .iconr{
        max-width: 10%;
        vertical-align: middle;
    }
  } 

  @media only screen and (max-width: 600px){
    .iconr{
        max-width: 22%;
        vertical-align: middle;
    }
    .mobfoot{
      font-size: x-small;
    }
    .footer{
      height: 80px;
    }
  }
 