  .container-legalnotice{
    background-color: #f7f5f5;
    color: rgb(57, 56, 55);
    height: 100%;
    padding: 40px 100px 40px 100px;
  }
  .title-biere-legalnotice{
    text-align: center;
    text-transform: uppercase;
  }
  .container-legalnotice h2{
    text-decoration: underline;
    margin-bottom: 5px;
  }
  .container-legalnotice h1{
    font-weight: bold;
    font-size: xx-large;
    padding: 20px;
  }
  .div-legalnotice{
      padding-right: 25px;
      padding-top: 40px;
    }
  .text-legalnotice {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .clear1 {
    height: 60px;
  }
  @media only screen and (max-width: 600px){
  .clear1 {height: 90px;}
  .container-legalnotice h1{ font-size: x-large}
  .container-legalnotice h2{ font-size: large}
  .text-legalnotice { font-size: small;}
}