.clear {
    height: 100px;
}
.img-sandre {
    width: 100%;
}
.container-find-us{
    display: flex;
}
.find-us{
    color: black;
    width: 400px;
    height: 280px;
    margin-left: 5%;
    margin-top: 40px;
    padding-top: 45px;
    font-size: large;
}
.find-us h2{
    font-size: 25px;
}
.txt-find-us{
    font-size: 20px;
    padding-top: 7px;
}
h1 {
    color: rgb(118, 140, 204);
}
.map{
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
}
#map-iframe {
    width: 650px;
    height: 430px;
    border: 0;
}

@media screen and (max-width: 1150px) {
    .find-us{width: 210px; height: 250px; font-size: medium}  
    #map-iframe{width: 420px; height: 370px}
    .txt-find-us{font-size: 14px}
    .find-us h2{font-size: x-large}
    
}
@media screen and (max-width: 700px) {
    .find-us{width: 210px; height: 230px; font-size: small; padding-left: 50px; margin-top: 0px}  
    #map-iframe{width: 320px; height: 290px}
    .txt-find-us h2{font-size: 9px; padding-top: 3px}
    .container-find-us{display: inline-block;  margin-left: 18%}
    .foot{height: 0px;}
}

