.add-beer, .show-resa, .connectadmin  {
    color: black;
    display: flex; 
    justify-content: center;
    padding: 15px;
    text-align: center;
}
.form-label {
    padding-right: 20px;
    font-size: x-large;
}
.adminform p{
    color: black;
    text-align: center;
}
.mb-3 {
    color: black;
    display: flex; 
    justify-content: center;
    padding: 25px;
    width: 400px;
}
.form-admin-resa {
    border-radius: 10px;
    border: 1px solid   black; 
    background-color: darkgrey;
    padding: 20px 0px 20px 0px; 
}
.btn {
    padding: 3px;
    font-size: medium;
}
.form-select {
    padding: 3px;
    font-size: medium;
}
.title-show-resa {
    font-size: xx-large;
}
.show-resa-title-beer-second {
    text-align: center;
}
.form-del-resa {
    text-align: center;
}