
.title-biere-second-schedule{
    text-align: center;
    font-size: x-large;
    margin-bottom: 15px;
}
.schedule-second p{
    font-size: 13px;
    text-align: center;
}
.logo-wave1 {
  width: 12%;
  height: auto;
}
.logo-wave2 {
  width: 12%;
  height: auto;
}
.title {
    display: inline-block;
    color: #22a3e3;
    letter-spacing: 5px;
}
.pic-ctn {
    position: absolute;
    width: 100%;
    margin-top: 9.5%;
  }
  @keyframes display {
    0% {
      transform: translateX(1920px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  .pic-ctn > img {
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    animation: display 18s infinite;
  }
  img:nth-child(2) {
    animation-delay: 3s;
  }
  img:nth-child(3) {
    animation-delay: 6s;
  }
  img:nth-child(4) {
    animation-delay: 9s;
  }
  img:nth-child(5) {
    animation-delay: 12s;
  }
  img:nth-child(6) {
    animation-delay: 15s;
  }
.txt{
    color: black;
    font-size: 16px;
    padding: 20px;
    padding-right: 10px;
}

.title-biere{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc{
    height: 240px;
    background-color: whitesmoke;
    margin-top: 80%;
    text-align: justify;
}
.container-homepage {  
    display: grid; 
    grid-template-columns: 0fr 1fr 0.8fr; 
    grid-template-rows: 0fr 0fr 0fr 0.15fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "title-biere title-biere title-biere"
      "photo photo photo"
      "desc desc schedule"; 
  }
.title-biere {
    grid-area: title-biere;
    text-align: center;
    font-size: 70px;
}
.desc { grid-area: desc; }
.schedule {
    display: grid; 
    grid-template-columns: 0fr 1fr 1fr; 
    grid-template-rows: 0.7fr 0.15fr 0.1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "schedule-second schedule-second schedule-second"
      "time time time"
      "time time time"; 
    grid-area: schedule;
    background-color: whitesmoke;
    height: 240px;
    margin-top: 100%;
  }
.schedule-second { grid-area: schedule-second; margin-top: 20px; border: 1px solid black; margin-right: 20%; margin-left: 20%; }
.time { grid-area: time; }
.time{font-size: 15px; padding: 0px 10px 10px 10px; letter-spacing: 3px;}
@media screen and (max-width: 1200px) {
  .txt{padding: 20px; font-size: 15px}
  .title-biere span{font-size: 50px}
  .title-biere-second_schedule-second{font-size: large}
  .schedule-second p{font-size: 13px}
  .schedule-second {margin-top: 20px}
  .time{font-size: 13px; padding: 0px 10px 10px 10px; letter-spacing: 1px;}
}
@media screen and (max-width: 800px) {
  .txt {padding: 30px; font-size: 13px}
  .title-biere span{font-size: 30px}
  .title-biere-second_schedule-second{font-size: medium}
  .schedule-second p{font-size: 10px}
  .schedule-second {margin-top: 40px}
  .time{font-size: 12px; padding: 0px 10px 10px 10px; letter-spacing: 0px;}
}
@media screen and (max-width: 600px) {
  .txt {padding: 35px; font-size: 10px}
  .title-biere-second span{font-size: 20px}
  .title-biere-second_schedule-second{font-size: medium}
  .schedule-second p{font-size: 8px}
  .schedule-second {margin-top: 40px}
  .time{font-size: 11px; padding: 0px 10px 10px 10px; letter-spacing: 0px;}
}