.container-legalnotice {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.4fr 1.4fr 1.5fr 1.5fr;
    gap: 12px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . ."
      ". . title-beer-legalnotice title-beer-legalnotice . ."
      ". div1-legalnotice div1-legalnotice div2-legalnotice div2-legalnotice ."
      ". div3-legalnotice div3-legalnotice div3-legalnotice div3-legalnotice ."
      ". div4-legalnotice div4-legalnotice div4-legalnotice div4-legalnotice .";
  }
  .title-beer-legalnotice { grid-area: title-beer-legalnotice; }
  
  .div1-legalnotice { grid-area: div1-legalnotice; }
  
  .div2-legalnotice { grid-area: div2-legalnotice; padding-left: 40px;}
  
  .div3-legalnotice { grid-area: div3-legalnotice; }
  
  .div4-legalnotice { grid-area: div4-legalnotice; }
  
  .container-legalnotice{
    background-color: rgb(186, 182, 182);
    color: rgb(57, 56, 55);
    height: 100%;
  }
  .title-beer-legalnotice{
    text-align: center;
    text-transform: uppercase;
  }
  .container-legalnotice h2{
    text-decoration: underline;
    margin-bottom: 5px;
  }
  .container-legalnotice h1{
    font-weight: bold;
    font-size: x-large;
  }
  @media only screen and (max-width: 950px){
    .container-legalnotice {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 0.2fr 1.4fr 1.5fr 1fr;
        gap: 12px 20px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . . . . ."
          ". . title-beer-legalnotice title-beer-legalnotice . ."
          ". div1-legalnotice div1-legalnotice div2-legalnotice div2-legalnotice ."
          ". div3-legalnotice div3-legalnotice div3-legalnotice div3-legalnotice ."
          ". div4-legalnotice div4-legalnotice div4-legalnotice div4-legalnotice .";
    }
  }
  
  @media only screen and (max-width: 800px){
    .div1-legalnotice{
      padding-right: 25px;
    }
    .div2-legalnotice{
      padding-left: 25px;
    }
    }

  @media only screen and (max-width: 650px){
  .container-legalnotice{font-size: smaller;}
  .container-legalnotice {  display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 0.2fr;
    grid-template-rows: 0.1fr 0.3fr 1.4fr 1.5fr 1fr;
    gap: 12px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . ."
      ". . title-beer-legalnotice title-beer-legalnotice . ."
      ". div1-legalnotice div1-legalnotice div2-legalnotice div2-legalnotice ."
      ". div3-legalnotice div3-legalnotice div3-legalnotice div3-legalnotice ."
      ". div4-legalnotice div4-legalnotice div4-legalnotice div4-legalnotice .";
    }
  }
@-moz-document url-prefix() {
  .container-legalnotice {
      height: 850px;
  }
  
}